{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<body>
    <div id="latest_imgs">
        {% for img in latest_imgs %}
        <a href="{{ img.img_hash }}">
        <div class="image" width="100px" height="100px">
            <img src="{% thumbnail img.file 100x100 crop upscale %}">
            {{img.title}}
        </div>
        </a>
        {% endfor %}
    </div>

    <div id="submit_new">
        <form action={% url 'images.views.submit' %} method="post" enctype="multipart/form-data" >
            <table>
                {% csrf_token %}
                {{ form }}
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
{% endblock content %}
