{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="container">
     <div id="latest_imgs">
    {% for group in latest_imgs %}
        <div class="row">
            {% for img in group %}
                <a href="{{ img.img_hash }}">
                <div class="image col-md-3 text-center">
                    <img class="img-responsive" src="{% thumbnail img.file 200x200 crop upscale %}"><p>
                    {{img.title}}
                </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
     </div>
</div>
{% endblock content %}
