{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
  <div class="container-fluid content-area">
    <h4>Images uploaded by {{ request.user }}</h4>
    <div class="row">
      {% for img in images_uploaded_by_user %}
      <div class="image col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a class="user_img" href="{% url 'images.views.view' img.img_hash %}">
          <img class="img-fluid" src="{% thumbnail img.file 350x350 crop upscale %}"><p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
