{% extends "base.html" %}
{% load image_urls %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8" id="view-post">
            <h1 id="image-view-title">{{ image.title }}</h1>
            <h5>Uploaded by: {% if image.uploaded_by_id %}User #{{ image.uploaded_by_id }}{% else %}Anonymous{% endif %}</h5>
            <img class="img-responsive post-image" src="{% image_url image %}">
            <h6>Views: {{ image.view_count }}</h6>
        </div>
        <div class="col-md-4" id="sidebar">
            <div id="trending-sidebar">
                <h2>Trending Pics</h2>
                Trending pics go here
            </div>
        </div>
    </div>
  </div>
{% endblock content %}
