body {
    background-color: black;
    color: #B0B0B0;
}

#latest_imgs {
    border-radius: 15px;
    background-color: gray;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    padding-left: 50px;
}

#submit_new {
    border-radius: 15px;
    background-color: gray;
    width: 600px;
    height: 100px;
    margin: 30px auto;
    padding: 10px 205px;
}

.image {
    margin: 15px 15px 0px 15px;
}

.post-image {
    max-width: 680px;
}