body {
    background-color: black;
    color: #B0B0B0;
    padding-bottom: 100px;
}

.navbar-btn {
    margin-right: 15px;
}

#latest_imgs {
    background-color: #2F2F2F;
    border-radius: 15px;
    padding-top: 10px;
    
}

#submit_new {
    border-radius: 15px;
    background-color: gray;
    margin-top: 20px;
}

#view-post {
    background-color: #2F2F2F;
    #padding-bottom: 18px;
}

.modal {
    margin-top: 250px;
}
